<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/css/styles.css"> </head>
    <link href="https://fonts.googleapis.com/css?family=Dekko" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
  <body>
    <h1 style="text-align: center;">High Scores</h1>
    <hr>
    <% if(users){ %>
      <% users.forEach(function(el, index) { %>
          <h2 class="title" style="text-align: center;"><%= el.name %> : <%= el.score %></h2>
      <% }); %>
    <% } else { %>
       <div class="">No Scores Here</div>
    <% } %>
  </body>
</html>
