<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="/css/styles.css"> </head>
      <link href="https://fonts.googleapis.com/css?family=Dekko" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

      <meta charset="utf-8">
      <title>Quiz of Spies</title>
      <h2 style="text-align: center;">Quiz of Spies</h2>
    </head>
    
  <body>
    <p style="text-align: center;">Enter your name here:</p>
    <form method="post" style="text-align: center;">
      <input type="text" name="name" /> <br />
      <input type="submit" value="Play the Game"></input>
    </form>
  </body>
</html>
